Repository xxsnakerxx/react-native-alert-queue: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm exec biome check --write --no-errors-on-unmatched {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor(Keyboard): simplify style prop by removing unnecessary array wrapping
  example/src/containers/Keyboard.tsx
Due: lint

chore: update dependencies in package.json and pnpm-lock.yaml to latest versions, add update-deps script
  example/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: update app.json to reflect new app name and slug for React Native Alert Queue
  example/app.json
Due: none

chore: remove pull_request branch specification from CI workflow
  .github/workflows/ci.yml
Due: none

chore: update conventional changelog configuration to disable merge commits
  package.json
Due: none

chore: update conventional changelog configuration to use conventional commits format
  package.json
Due: none

chore: release 2.2.1
  package.json
Due: none

fix: update error method signature to remove isFixable parameter and enhance README for clarity
  README.md
  src/containers/AlertContainer/types.ts
Due: lint, types

chore: enhance package description and update keywords in package.json and README.md for better clarity and discoverability
  README.md
  package.json
Due: none

chore: release 2.2.2
  package.json
Due: none

docs: add Expo Snack badge and live demo link to README for easier access
  README.md
Due: none

docs: update Expo Snack badge style in README for consistency
  README.md
Due: none

docs: correct typos in CONTRIBUTING.md and README.md, and improve comments in TypeScript files for clarity
  CONTRIBUTING.md
  README.md
  src/components/Confetti/Piece.tsx
  src/containers/AlertContainer/controller.ts
Due: lint, types

chore: release 2.2.3
  package.json
Due: none

chore: upgrade expo SDK to v55
  example/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: release 2.2.4
  package.json
Due: none

chore: add custom resolveRequest for react-native-alert-queue in Metro config to support Fast Refresh
  example/metro.config.js
Due: lint, types

fix: avoid keyboard on android
  src/containers/AlertContainer/controller.platform.native.ts
Due: lint, types

chore: release 2.2.5
  package.json
Due: none

feat: update backdrop configuration in Alert component to support custom children
  README.md
  src/components/Backdrop/index.tsx
  src/containers/AlertContainer/index.tsx
  src/containers/AlertContainer/types.ts
Due: lint, types

chore: release 2.3.0
  package.json
Due: none

chore: update devDependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: none
